---
import config from "@config/config.json";
import Staff from "@layouts/Staff.astro";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { sortByDate } from "@lib/utils/sortFunctions";
import { markdownify } from "@lib/utils/textConverter";

const staff = await getSinglePage("staff");
const sortedPosts = sortByDate(staff);
const totalPages = Math.ceil(staff.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base title={"Staff: Owner, Moderator, Moderators, VIPs and Developers"}>
  <section class="section">
    <div class="container text-center">
      <h1 set:text={markdownify("Staff: Owner, Moderator, Moderators, VIPs and Developers")} class="page-heading h2" />
      <Staff staff={currentPosts} />
      <Pagination section={"staff"} currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
