---
import { Image } from "astro:assets";
import { BiChevronsLeft, BiChevronsRight } from "react-icons/bi/index.js";
---

  <div id="root" class="bg-black aspect-video landscape:h-screen w-screen flex flex-row gap-0 snap-x overflow-x-auto">
    <section id="page-1" class=" snap-always hover:snap-normal snap-center flex justify-center items-center w-screen min-w-[100vw]">
      <a href="#page-12" class="backward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsLeft className="ml-1 h-[16px] w-[16px] text-white/80" />
      </a>
        <div class="landscape:aspect-video w-[90vw]" style="min-width: 90vw; max-width: 90vw;">
            <div class="mb-8">
              <Image
                src=/webpromo/1.jpg
                class="w-full mx-auto rounded-lg"
                height={450}
                width={150}
                alt="Join HighStreet SMP - Leerdam"
              />
            </div>
      </div>
      <a href="#page-2" class="forward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsRight className="mr-1 h-[16px] w-[16px] text-white/80" />
      </a>
    </section>

    <section id="page-2" class=" snap-always hover:snap-normal snap-center flex justify-center items-center w-screen min-w-[100vw]"  style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
      <a href="#page-1" class="backward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsLeft className="ml-1 h-[16px] w-[16px] text-white/80" />
      </a>
        <div class="landscape:aspect-video w-[90vw]" style="min-width: 90vw; max-width: 90vw;">
            <div class="mb-8">
              <Image
                src=/webpromo/2.jpg
                class="w-full mx-auto rounded-lg"
                height={450}
                width={150}
                alt="Join HighStreet SMP - Leerdam"
              />
            </div>
      </div>
      <a href="#page-3" class="forward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsRight className="mr-1 h-[16px] w-[16px] text-white/80" />
    </a>
    </section>

    <section id="page-3" class=" snap-always hover:snap-normal snap-center flex justify-center items-center w-screen min-w-[100vw]"  style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
    <a href="#page-2" class="backward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsLeft className="ml-1 h-[16px] w-[16px] text-white/80" />
    </a>
        <div class="landscape:aspect-video w-[90vw]" style="min-width: 90vw; max-width: 90vw;">
            <div class="mb-8">
              <Image
                src=/webpromo/3.jpg
                class="w-full mx-auto rounded-lg"
                height={450}
                width={150}
                alt="Join HighStreet SMP - Leerdam"
              />
            </div>
      </div>
    <a href="#page-4" class="forward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsRight className="mr-1 h-[16px] w-[16px] text-white/80" />
      </a>
    </section>

    <section id="page-4" class=" snap-always hover:snap-normal snap-center flex justify-center items-center w-screen min-w-[100vw]"  style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
      <a href="#page-3" class="backward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsLeft className="ml-1 h-[16px] w-[16px] text-white/80" />
      </a>
        <div class="landscape:aspect-video w-[90vw]" style="min-width: 90vw; max-width: 90vw;">
            <div class="mb-8">
              <Image
                src=/webpromo/4.jpg
                class="w-full mx-auto rounded-lg"
                height={450}
                width={150}
                alt="Join HighStreet SMP - Leerdam"
              />
            </div>
      </div>
      <a href="#page-5" class="forward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsRight className="mr-1 h-[16px] w-[16px] text-white/80" />
      </a>
    </section>

    <section id="page-5" class=" snap-always hover:snap-normal snap-center flex justify-center items-center w-screen min-w-[100vw]"  style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
      <a href="#page-4" class="backward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsLeft className="ml-1 h-[16px] w-[16px] text-white/80" />
      </a>
      <div class="landscape:aspect-video w-[90vw]" style="min-width: 90vw; max-width: 90vw;">
            <div class="mb-8">
              <Image
                src=/webpromo/5.jpg
                class="w-full mx-auto rounded-lg"
                height={450}
                width={150}
                alt="Join HighStreet SMP - Leerdam"
              />
            </div>
      </div>
      <a href="#page-6" class="forward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsRight className="mr-1 h-[16px] w-[16px] text-white/80" />
    </a>
    </section>

    <section id="page-6" class=" snap-always hover:snap-normal snap-center flex justify-center items-center w-screen min-w-[100vw]"  style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
    <a href="#page-5" class="backward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsLeft className="ml-1 h-[16px] w-[16px] text-white/80" />
    </a>
        <div class="landscape:aspect-video w-[90vw]" style="min-width: 90vw; max-width: 90vw;">
            <div class="mb-8">
              <Image
                src=/webpromo/6.jpg
                class="w-full mx-auto rounded-lg"
                height={450}
                width={150}
                alt="Join HighStreet SMP - Leerdam"
              />
            </div>
      </div>
    <a href="#page-8" class="forward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsRight className="mr-1 h-[16px] w-[16px] text-white/80" />
      </a>
    </section>

    <section id="page-8" class=" snap-always hover:snap-normal snap-center flex justify-center items-center w-screen min-w-[100vw]"  style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
      <a href="#page-7" class="backward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsLeft className="ml-1 h-[16px] w-[16px] text-white/80" />
      </a>
        <div class="landscape:aspect-video w-[90vw]" style="min-width: 90vw; max-width: 90vw;">
            <div class="mb-8">
              <Image
                src=/webpromo/8.jpg
                class="w-full mx-auto rounded-lg"
                height={450}
                width={150}
                alt="Join HighStreet SMP - Leerdam"
              />
            </div>
      </div>
      <a href="#page-9" class="forward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsRight className="mr-1 h-[16px] w-[16px] text-white/80" />
    </a>
    </section>

    <section id="page-9" class=" snap-always hover:snap-normal snap-center flex justify-center items-center w-screen min-w-[100vw]"  style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
    <a href="#page-8" class="backward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsLeft className="ml-1 h-[16px] w-[16px] text-white/80" />
    </a>
    <div class="landscape:aspect-video w-[90vw]" style="min-width: 90vw; max-width: 90vw;">
            <div class="mb-8">
              <Image
                src=/webpromo/9.jpg
                class="w-full mx-auto rounded-lg"
                height={450}
                width={150}
                alt="Join HighStreet SMP - Leerdam"
              />
            </div>
    </div>
    <a href="#page-10" class="forward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsRight className="mr-1 h-[16px] w-[16px] text-white/80" />
    </a>
    </section>

    <section id="page-10" class=" snap-always hover:snap-normal snap-center flex justify-center items-center w-screen min-w-[100vw]"  style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
    <a href="#page-9" class="backward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsLeft className="ml-1 h-[16px] w-[16px] text-white/80" />
    </a>
    <div class="landscape:aspect-video w-[90vw]" style="min-width: 90vw; max-width: 90vw;">
            <div class="mb-8">
              <Image
                src=/webpromo/10.jpg
                class="w-full mx-auto rounded-lg"
                height={450}
                width={150}
                alt="Join HighStreet SMP - Leerdam"
              />
            </div>
    </div>
    <a href="#page-11" class="forward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsRight className="mr-1 h-[16px] w-[16px] text-white/80" />
    </a>
    </section>


    <section id="page-11" class=" snap-always hover:snap-normal snap-center flex justify-center items-center w-screen min-w-[100vw]"  style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
    <a href="#page-10" class="backward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsLeft className="ml-1 h-[16px] w-[16px] text-white/80" />
    </a>
        <div class="landscape:aspect-video w-[90vw]" style="min-width: 90vw; max-width: 90vw;">
            <div class="mb-8">
              <Image
                src=/webpromo/11.jpg
                class="w-full mx-auto rounded-lg"
                height={450}
                width={150}
                alt="Join HighStreet SMP - Leerdam"
              />
            </div>
      </div>
    <a href="#page-12" class="forward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsRight className="mr-1 h-[16px] w-[16px] text-white/80" />
    </a>
    </section>


    <section id="page-12" class=" snap-always hover:snap-normal snap-center flex justify-center items-center w-screen min-w-[100vw]"  style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
    <a href="#page-11" class="backward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsLeft className="ml-1 h-[16px] w-[16px] text-white/80" />
    </a>
        <div class="landscape:aspect-video w-[90vw]" style="min-width: 90vw; max-width: 90vw;">
            <div class="mb-8">
              <Image
                src=/webpromo/12.jpg
                class="w-full mx-auto rounded-lg"
                height={450}
                width={150}
                alt="Join HighStreet SMP - Leerdam"
              />
            </div>
      </div>
    <a href="#page-1" class="forward" aria-hidden="true" style="visibility:hidden;">
             <BiChevronsRight className="mr-1 h-[16px] w-[16px] text-white/80" />
    </a>
    </section>
  </div>
