---
---

  <div id="root" class="bg-black aspect-video landscape:max-h-screen w-screen flex flex-row gap-0 snap-x overflow-x-auto">
  <iframe loading="lazy" class="aspect-video w-full"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF0cfQIgH8&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
  </div>
