---
import config from "@config/config.json";
import Webpromo from "@layouts/components/webpromo/Webpromo.astro";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Posts from "@layouts/Posts.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { sortByDate } from "@lib/utils/sortFunctions";

const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base>
  <Webpromo />
  <div class="flex justify-center portrait:flex-col">
    <section class="section">
      <div class="container">
        <Posts posts={currentPosts} className="mb-16" />
        <Pagination currentPage={1} totalPages={totalPages} />
      </div>
    </section>
    <aside class="mt-24">
      <iframe src="https://discord.com/widget?id=1114962379843829840&theme=dark" class="rounded-lg" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </aside>
  </div>
</Base>
