---
import Base from "@layouts/Base.astro";
import PlayerHead from "@layouts/components/PlayerHead.astro";

// import { getSinglePage } from "@lib/contentParser.astro";
// import { sortByDate } from "@lib/utils/sortFunctions";
let response = await fetch("https://towny.highstreet.fun/residents")
let data = await response.json();
let playerList = data.residents.slice(1,-1).split(', ')
---

<Base>

<div class="container">
<h2>Players {playerList.length}</h2>
</div>

<div class="bg-blue-100/50 grid portrait:md:grid-cols-2 portrait:grid-cols-1 landscape:lg:grid-cols-4 landscape:2xl:grid-cols-5 landscape:md:grid-cols-3 gap-0">
  {playerList.map(player => (
    <PlayerHead playerName={player} />
  ))}
</div>

</Base>
